/* Estilos para el header */
.main-header {
    text-align: center;
    background-color: #f2f2f2;
    padding: 20px;
}

.navbar {
    display: flex;
    justify-content: flex-end;
}

.nav-item {
    text-decoration: none;
    color: #333;
    margin-right: 20px;
}

h1 {
    margin-bottom: 10px;
    text-align: center; /* Centrar el título */
}

.main-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: white;
    font-size: 16px;
    cursor: pointer;
    display: block;
    margin: 0 auto; /* Centrar el botón */
}

/* Estilos para el contenido principal */
.main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
}

.content-container {
    width: 300px;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto; /* Centrar las imágenes */
}

h2 {
    margin-bottom: 10px;
}

p {
    margin-bottom: 20px;
}

.content-button {
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: white;
    font-size: 14px;
    cursor: pointer;
}

/* Estilos para el footer */
.main-footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px 0;
}